<footer class='footer'>
  <nav class="navbar navbar-light d-flex justify-content-center">
    <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item">
          {% if page.title == "about" %}
            <a class="nav-link active" aria-current="page" href="/about">about</a>
          {% else %}
            <a class="nav-link" href="/about">about</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.title == "subscribe" %}
            <a class="nav-link active" aria-current="page" href="/subscribe">subscribe</a>
          {% else %}
            <a class="nav-link" href="/subscribe">subscribe</a>
          {% endif %}
        </li>
    </ul>
    <ul class="navbar-nav d-flex flex-row">
    {%- assign social = site.social_links -%}
      <li class="nav-item">
        <a rel="me" href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}" title="{{ social.instagram | escape }}" target="_blank"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}" target="_blank"><i class="bi bi-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a rel="me" href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}" title="{{ social.youtube_channel_name | escape }}" target="_blank"><i class="bi bi-youtube"></i></a>
      </li>
    </ul>
  </nav>
</footer>