@import "rfs.scss";

body {
	font-family: Arial, sans-serif;
	background-color: #bdbdbd;
}

#header-logo {
	@include rfs(8rem, width);
}

.header .navbar {
	margin-top: 3rem;
	margin-bottom: 2rem;
	background: #bdbdbd;
}

.footer .navbar {
	margin-top: 2rem;
}

.footer .navbar li {
	margin-left: 2rem;
	margin-right: 2rem;
		@include font-size(1.2rem);
	font-weight: bold;
}

/* unvisited link */
.footer a:link {
	color: black!important;
}

/* visited link */
.footer a:visited {
	color: black;
}

/* mouse over link */
.footer a:hover {
	color: blue!important;
}
/* selected link */
.footer a:active {
    color: blue;
}

.footer .nav-link.active {
	color: blue!important;
}

.content-top {
	background-color: white;
    border-right: 5px solid;
    border-top: 2px solid;
    border-left: 2px solid;
	border-bottom: none;
}

.content-title {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	@include font-size(1.2rem);
	font-weight: bold;
}

.content-title-lines {
	flex-grow: 1;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

.content-title-lines hr {
	margin: 2px;
	opacity: 1;
	border: 1px solid;
}

.content {
	background-color: white;
	border-bottom: 5px solid;
    border-right: 5px solid;
    border-top: 2px solid;
    border-left: 2px solid;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	@include rfs(40rem, min-height);
	overflow: hidden;
}

/* unvisited link */
.content a:link {
	color: blue;
	text-decoration: none;
}

/* visited link */
.content a:visited {
	color: blue;
	text-decoration: none;
}

/* mouse over link */
.content a:hover {
	color: black;
	text-decoration: none;
}
/* selected link */
.content a:active {
    color: black;
}

.subscribe-content p {
	margin-bottom: 0.5rem;
}

.subscribe-feed {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.btn {
	width: 100%;
	border: 2px solid;
}

.btn-outline-primary {
	color: black!important;
	border-color: black;
}

.btn-outline-primary:hover {
	background-color: black;
	color: white!important;
	border-color: black;
}

.btn-outline-primary:active {
	color: blue;
}

.form-control {
	border-radius: 0;
	border: 2px solid;
}


/* unvisited link */
.home-button a:link {
	color: blue;
	text-decoration: none;
}

/* visited link */
.home-button a:visited {
	color: blue;
	text-decoration: none;
}

/* mouse over link */
.home-button a:hover {
	color: black;
	text-decoration: none;
}
/* selected link */
.home-button a:active {
    color: black;
}

.model-container {
	@include rfs(10rem, height);
	@include rfs(10rem, width);
}

#pages {
	@include rfs(3rem, margin-top);
	margin-left: 2rem;
}

#products {
	@include rfs(15rem, margin-top);
	margin-right: 2rem;
	margin-bottom: 2rem;
}

/* Responsive */
@media (max-width: 575px){
	.content{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.header .navbar {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.footer .navbar {
		margin-top: 1rem;
	}
	.footer .navbar li {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	#pages {
		margin-top: 1rem;
		margin-left: 2rem;
	}

	#products {
		margin-top: 8rem;
		margin-right: 2rem;
		margin-bottom: 2rem;
	}
	.model-container {
		width: 5rem;
		height: 5rem;
	}
}