<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: 'en' }}'>
  {% include head.html %}
  <body>
    <div class='layout'>
      {% include header.html %}
      <div class='container-md'>
        <div class="content-top d-flex justify-content-center">
          <div class="content-title-lines align-self-center">
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
          <div class="content-title">
            {{ page.title }}
          </div>
          <div class="content-title-lines align-self-center">
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
        </div>
        <div class="content text-break">
          {{ content }}
        </div>
      </div>
      <div class='container'>
        {% include footer.html %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% if page.title == "virtualgoodsdealer" %}
      <script type="module" src="scripts/homeButtons.js"></script>
    {% endif %}
  </body>
</html>
