---
layout: default
---

<div class="row">
	<div class="col-6">
		<div class="home-button text-center" id="pages">
			<a class="d-flex flex-column" href="https://pages.virtualgoodsdealer.com/">
				<div class="model-container mx-auto mb-2"></div>
				<div>pages</div>
			</a>
		</div>
	</div>
	<div class="col-6">
		<div class="home-button text-center" id="products">
			<a class="d-flex flex-column" href="https://products.virtualgoodsdealer.com/">
				<div class="model-container mx-auto mb-2"></div>
				<div>products</div>
			</a>
		</div>
	</div>
</div>
<script>

</script>

<script type="module" src="scripts/homeButtons.js"></script>

