---
layout: default
name: home
---

<div class="row">
	<div id="loading-screen"></div>
	<div class="col-6">
		<div class="home-button text-center" id="pages">
			<a class="d-flex flex-nowrap justify-content-center flex-column" href="https://pages.virtualgoodsdealer.com/">
				<div class="model-container mx-auto"></div>
				<div class="model-name">pages</div>
			</a>
		</div>
	</div>
	<div class="col-6">
		<div class="home-button text-center" id="products">
			<a class="d-flex flex-nowrap justify-content-center flex-column" href="https://products.virtualgoodsdealer.com/">
				<div class="model-container mx-auto"></div>
				<div class="model-name">products</div>
			</a>
		</div>
	</div>
</div>


